body {
  background: linear-gradient(to right, #434343, #000000);
  font-family: Aldrich, sans-serif;
  color: var(--bs-white);
}

.espacio {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.espacio h2 {
  text-transform: uppercase;
  text-align: center;
}

.tarjeta {
  background: var(--bs-white);
  color: #000046;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.tarjeta select {
  width: 100%;
}

.resultados {
  border: 1px solid black;
  width: 600px;
}

hr {
  width: 100%;
  border-top: 2px solid #d30547;
}

.prueba table {
  width: 600px;
  max-width: 400px;
}



button {
  width: 100%;
  text-transform: uppercase;
}

.col {
  display: flex;
  justify-content: center;
  width: 100%;
}